html
    head
        meta(charset="utf-8")
        meta(http-quiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="view-port", content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
        meta(name="description", content="在线玩二阶魔方, 查看状态图, 随机化二阶魔方并求解还原公式.")
        title!= title
        link(rel="shortcut icon", href="#{cdn.cdnify('favicon.ico')}")
        link(rel="stylesheet", type="text/css", href="#{cdn.cdnify('semantic/dist/semantic.min.css')}")
        style(type="text/css").
            .cmd {
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                background-color: #202020;
                border: 4px solid silver;
                border-radius: 5px;
                box-shadow: 2px 2px 3px #6e6e6e;
                color: #e2e2e2;
                display: block;
                font: 1em 'andale mono', 'lucida console', monospace;
                line-height: 1em;
                overflow: auto;
                padding: 15px;
            }

            .auto-wrap {
                word-wrap: normal;
                white-space: pre-wrap;
            }

            .hard.auto-wrap {
                word-wrap: break-word;
            }

body
    div(ng-app="cubeModule", ng-controller="cubeCtrl")
        div.ui.two.column.grid
            div.ui.column
                include partial/dash
            div.ui.column
                include partial/cube

    div
        script(src="#{cdn.cdnify('bower_components/jquery/dist/jquery.min.js')}")
        script(src="#{cdn.cdnify('semantic/dist/semantic.min.js')}")
        script(src="#{cdn.cdnify('bower_components/angular/angular.min.js')}")
        script(src="#{cdn.cdnify('virtual-scripts/cube/graph.js')}")
        script(src="#{cdn.cdnify('virtual-scripts/cube/layout.js')}")
        script(src="#{cdn.cdnify('virtual-scripts/cube/painter.js')}")
        script(src="#{cdn.cdnify('virtual-scripts/cube/cube.js')}")
        script(src="#{cdn.cdnify('virtual-scripts/cube/cube-compact.js')}")
        script(src="#{cdn.cdnify('virtual-scripts/cube/cube-lite.js')}")
        script(src="#{cdn.cdnify('virtual-scripts/cube/cube-mini.js')}")
        script(src="#{cdn.cdnify('virtual-scripts/cube/iterator.js')}")
        script(src="#{cdn.cdnify('virtual-scripts/cube/solver.js')}")
        script(src="#{cdn.cdnify('bower_components/cytoscape/dist/cytoscape.min.js')}")
        script(src="#{cdn.cdnify('scripts/cubeModule.js')}")
        script(type="text/javascript").